.title {
  font-size: 2rem;
  font-weight: bold;
}

.author:hover,
.subribbit:hover {
  text-decoration: underline;
}

.post {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
}
.post:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  margin: 1rem;
}
