.wrapper {
  align-items: center;
  padding-bottom: 2rem;
}

.wrapper h1 {
  text-align: center;
}

.wrapper img {
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
}

.wrapper a:hover {
  text-decoration: underline;
}

.textContent {
  font-size: 1.2rem;
  font-weight: 500;
}

.inputCont textarea {
  padding: 0.5rem;
}

.delete {
  color: rgb(107, 20, 20);
  cursor: pointer;
}

.delete:hover {
  text-decoration: underline;
}

.upvote:hover,
.downvote:hover {
  transform: scale(1.1);
}
.upvote,
.downvote {
  cursor: pointer;
  transition: 0.2s all;
}

.upvote:hover {
  fill: #73b65f;
}

.downvote:hover {
  fill: #f53131;
}
